
body {
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.navbar-brand {
   font-size: 34px;
   line-height: 60px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.14em;
}
.navbar-brand img {
   margin: 0 15px 7px 0;
}
.nav-link {
   font-size: 14px;
   line-height: 30px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #aeb0b5;
   margin: 0 18px;
}
.nav-btn {
   font-size: 14px;
   line-height: 28px;
   text-transform: uppercase;
   letter-spacing: 0.10em;
   
}
.nav-btn a {
   color: #fff;
   text-decoration: none;
}
/* ====== КАРУСЕЛЬ ====== */

.carousel-item {
   height: 770px;
   width: 100%;
   overflow: hidden;
 }
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

.carousel-caption {
   margin: 0 0 170px 35%;
   text-align: left;
}
.carousel-caption h5 {
   padding: 28px 0;
   font-size: 66px;
   line-height: 80px;
   font-weight: 400;
}
.carousel-caption p {
   font-size: 20px;
   line-height: 40px;
   font-weight: 200;
   font-style: italic;
   margin-bottom: 25px;
}
.btn-carousel {
   font-size: 16px;
   width: 220px;
   height: 60px;
   background-color: #916fbc;
   border-radius: 3px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #fff;
}
.btn-carousel a {
   color: #fff;
   text-decoration: none;
}
.btn-carousel:hover {
   background-color: #745899;
   color: #fff;
}
/*  блок второй */
.block2 {
font-size: 44px;
line-height: 50px;
color: #212121;
margin-top: 68px;
}
.block2__hr {
   width: 83px;
   height: 2px;
   background-color: #e3dbee;
   margin: 0 auto 45px;
}
.block2__img {
   text-align: center;
}
.block2__img img {
   max-width: 370px;
   width: 100%;
   margin-bottom: 50px;
   max-height: 200px;
}
.block2__img p {
   font-size: 20px;
   line-height: 30px;
   color: #212121;
   text-align: left;
   margin-bottom: 50px;
}
/*  =====  блок сервис  ===== */ /*  =====  блок сервис  ===== */

.cont-fialet {
   margin: 65px auto 60px;
}
.services {
   margin-bottom: 204px;
   font-size: 16px;
   line-height: 30px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #916fbc;
}
.fialet {
   font-size: 16px;
   line-height: 30px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #916fbc;
   text-align: center;
   margin: 70px auto 14px;
}
.block_h2{
   text-align: center;
   font-size: 35px;
   line-height: 50px;
   color: #212121;
   text-transform: capitalize;
   margin-bottom: 90px;
}


.services__item {
   text-align: center;
   padding: 0 5px;
   margin-bottom: 50px;
}
.services__item__h3 {
   font-size: 22px;
   line-height: 30px;
   color: #212121;
   text-transform: capitalize;
   margin: 20px auto 8px;
   letter-spacing: 0.8px;
}
.services__item p {
   font-size: 14px;
   line-height: 26px;
   color: #333333;
   text-transform: capitalize;
   letter-spacing: 0.8px;
}

.services__img img {
   display: block;
   margin: 0 auto;
   max-width: 100%;
}
/*   =========  about  ========== */
.about__block {
   text-align: center;
   margin: 132px 0 140px;
   padding: 0;

}
.about__block__item {
   margin: 0 0 46px;
   max-width: 570px;
}
.about__block__item__h2 {
   padding: 50px 0 14px;
   font-size: 16px;
   line-height: 30px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #916fbc;
   text-align: center;
}

.about__block__item p {
   font-family: 'Roboto', sans-serif;
   font-size: 32px;
   line-height: 50px;
   color: #212121;
   letter-spacing: 0.8px;
   text-align: center;
}
.about__block__item a {
   text-decoration: none;
}
.about__block__item a:hover h2 {
   color: #745899;
}
.about__block__item a:hover hr {
   background-color: #745899;
}


.about__block__item__pp {
   font-size: 16px !important;
   line-height: 30px !important;
   color: #212121;
   padding: 44px 0 0;
   text-align: center;
   margin-bottom: -2px;

}
.about__block__item img {
   max-width: 100%;
   object-fit: cover;
}
.about__block2__hr {
   width: 110px;
   height: 2px;
   background-color: #e3dbee;
   margin: -20px auto 30px;
}

/* ========= популянные ========== */
.Popular {
   margin: 0 auto 196px;
   text-align: center;
}
.Popular h2 {
   font-size: 16px;
   line-height: 30px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #916fbc;
}
.Popular h3 {
   font-size: 38px;
   line-height: 60px;
   color: #212121;
   margin-bottom: 32px;
}
.Popular img {
   width: 100%;
   padding: 5px;
}

/*  ====  discount  ===  */

.discount__p1 {
   font-size: 38px;
   line-height: 50px;
   color: #212121;
   padding-right: 45px;
}
.discount__p2 {
   font-size: 16px;
   line-height: 30px;
   color: #212121;
   margin: 20px 0 70px;
}
.btn-discount {
   line-height: 45px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #ffffff;
   background-color: #916fbc;
   border-radius: 3px;
   padding: 7px 40px;
}
.btn-discount a {
   color: #ffffff;
   text-decoration: none;
}
.btn-discount:hover {
   background-color: #745899;
   color: #ffffff;
}
.discount-2 {
   margin: 70px auto 62px;
}
.discount__img {
   margin: 22px 0;
}
.discount__text {
   font-size: 14px;
   line-height: 20px;
   text-transform: uppercase;
   color: #212121;
   padding: 18px;
   margin: 0;
}
/*  === have-time ===  */
.have-time {
   position: relative;
   padding: 175px 0 220px;
   background: #373737 url(../img/have-time/spa.jpg) center no-repeat;
   margin-bottom: 130px;
   z-index: 1;
}
.have-time::before {
   content: '';
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 0;
}
.have-time h3 {
   font-size: 44px;
   line-height: 60px;
   color:#ffffff;
   padding: 0 5px;
   z-index: 3;
}

/*  =====  memberships  ======  */
.memberships {
   margin-bottom: 130px;
}
.memberships h2 {
   font-size: 16px;
   line-height: 30px;
   text-transform: uppercase;
   letter-spacing: 0.18em;
   color: #916fbc;
   padding: 30px 0 16px;
}
.memberships h3 {
   font-size: 32px;
   line-height: 50px;
   color: #212121
}
.memberships p {
   font-size: 14px;
   line-height: 30px;
   color: #212121;
   padding: 10px 0 0px;
   margin-bottom: 32px;
}
.memberships a {
   text-decoration: none;
}

.memberships a:hover h2 {
   color: #745899;
   text-decoration: none;
}
.memberships a:hover hr {
   background-color: #512e7e;
}
h2.underscore {
   font-size: 16px;
   line-height: 10px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #916fbc;
   padding: 28px 0 2px;
}
.memberships__hr {
   width: 102px;
   height: 1px;
   opacity: 0.25;
   background-color: #916fbc;

}
.memberships img {
   min-height: 500px;
   max-width: 100%;
   object-fit: cover;
}
/* =====  special deal  ===== */ /* =====  special deal  ===== */
.special-deal {
   margin: 100px 0 72px;
}

.img-btn-cover__wrap {
   position: relative;
   align-items: center;
   text-align: center;
}
.img-btn-cover__wrap button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 12px 40px;
   border: 2px solid #916fbc;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #ffffff;
   background: rgb(57%, 44%, 74%, 0.5);
}
.special-deal a {
   display: block;
   text-transform: uppercase;
   color: #ffffff;
   text-decoration: none;
}
.special-deal button:hover {
   background: #916fbc;
   color: #ffffff;
}
.special-deal h2 {
   font-size: 16px;
   line-height: 30px;
   text-transform: uppercase;
   letter-spacing: 0.18em;
   color: #916fbc;
   padding: 50px 0 12px;
}
.special-deal h3 {
   font-size: 38px;
   line-height: 50px;
   color: #212121;
   padding-bottom: 10px;
}
.special-deal p {
   font-size: 16px;
   line-height: 30px;
   color: #212121;
   padding-bottom: 50px;
}

/* ===== form ===== */ /* ===== form ===== */
.form-block h2 {
   font-size: 16px;
   line-height: 50px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #916fbc;
   margin: 76px 0 0 0;
}
.form-block h4 {
   font-size: 16px;
   line-height: 50px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #aeb0b5;
   margin: 0;
}
/*  */
.form-block {
   margin-bottom: 120px;
}
.form-block h3 {
   font-size: 38px;
   line-height: 50px;
   color: #212121;
   margin-bottom: 38px;
}
.form-block p {
   margin: 0 0 12px 0;
}
.form-block p a {
   color: #7aa481;
}
/*  form-row */

.form-row h6 {
   font-size: 16px;
   line-height: 30px;
   font-weight: 400;
   color: #aeb0b5;
   margin: 10px 0 0 0;
}
.form-row input {
   height: 63px;
}
.form-row textarea {
   width: 730px;
   max-width: 100%;
   height: 116px;
   padding: 0 5px;
}
.form-row a {
   text-decoration: none;
   font-size: 16px;
   line-height: 50px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #ffffff;
}
.form-row button {
   width: 270px;
   height: 60px;
   background-color: #916fbc;
   border: none;
}
.form-row button:hover {
   background:#745899;
}